* {
    background-color:#fffacc;    
    font-family: "Brush Script MT", cursive, sans-serif;
    color: #8f6732;
    font-size: 25px;
}
h1 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

.home {
    color: #92d2d3;
}